<%= render 'invites/invite_tabs' %>

<style>
  #UpcomingInvites > .content > .mainHeader {
    font-size: 1.1rem;
  }

  #UpcomingInvites > .content > .location {
    margin-top: .15rem;
  }

  #UpcomingInvites > .content .icon {
    margin-right: 1px;
    margin-bottom: .25rem;
  }
</style>

<% unless @invites.present? %>
  <div style="text-align: center" class="ui grey message">
    There are no invitations to show yet! Maybe you should invite someone :)
  </div>
<% end %>
<% @invites.each do |invite| %>
  <div id="UpcomingInvites"  class="ui fluid card">
    <div class="content">
      <div class="header mainHeader">
        <%= invite.what %>
        <span style="float: right"><%= invite.when %></span>
      </div>
    </div>
    <div class="content">
      <div class="ui sub header"><i class="user icon"></i> <%= invite.user.full_name %></div>
      <div class="ui sub header location"><i class="marker icon"></i> <%= invite.where %></div>
      <p><i class="info icon"></i> <%= invite.details %></p>

      <%= render 'invites/response_list', {guestlist: invite.invitation_responses.alphabetical} %>
    </div>
  </div>
<% end %>


