<%= render 'users/profile_tabs' %>
<style type="text/css">
  #webview-content .slot {
    margin-bottom: .5rem;
  }

  #webview-content .at {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 20px;
  }

  #webview-content .smallSidePadding {
    padding: 7px 4px 7px 4px;
  }

  #AvailabilityList .detail-day {
    font-size: 1em;
    font-weight: bold;
  }

  #AvailabilityList .detail-time {
    font-weight: bold;
  }

  #AvailabilityList .light-grey {
    background-color: #E1E2E3;
  }
</style>

<div id="AvailabilityList">
  <div class="ui segment">
    <div class="ui equal width center aligned grid">
      <div class="centered column green">
        <span class="detail-day">Wednesday</span>
      </div>
      <div class="centered column">
        <span class="detail-time">5 AM</span>
      </div>
    </div>
  </div>

  <button class="ui lightgrey fluid button">Edit</button>
</div>

<div id="webview-content">
  <div class="infoContainer">
    <p style="font-size: 1.1rem">When are the top 5 times that you're free?</p>
  </div>

  <form method="GET" action="/users/login_success" class="ui form">
    <div class="mainContainer">
      <div class="ui grid">
        <% 5.times do %>
          <div class="eight wide column smallSidePadding">
            <select name="free_day[]" class="ui dropdown daySelect">
              <option value=''>Select a day</option>
              <% FormFieldData::FREE_DAYS.each do |day| %>
                <option value='<%= day %>'><%= day %></option>
              <% end %>
            </select>
          </div>
          <div class="eight wide column smallSidePadding">
            <select name="free_time[]" class="ui dropdown">
              <option value=''>Select a time</option>
              <% FormFieldData::FREE_TIMES.each do |time| %>
                <option value='<%= time %>'><%= time %></option>
              <% end %>
            </select>
          </div>
        <% end %>
      </div>
    </div>

    <div class="submitButton">
      <p style="color: grey">
        <i class="grey info circle icon"></i>
        Your friends can invite you any time, but, this lets them
        know when you're normally free.
      </p>
      <input type="submit" value="Done" class="ui fluid positive button" />
    </div>
  </form>
</div>

<script type="text/javascript">
  $('select.dropdown').dropdown();
  $('.selection.dropdown').attr('style', 'min-width: 10.5rem');
</script>