<%= render 'users/profile_tabs' %>

<style type="text/css">
  #interestCards .myInterests {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5em;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #d3d3d3;
  }

  #webview-content .activity {
    margin-bottom: .25rem;
  }

  #webview-content .labelText {
    width: 6.5rem;
    font-size: .9rem;
  }

  #interestCards .column {
    margin-bottom: 0.25rem;
  }
</style>

<div id="webview-content">
  <div class="infoContainer">
    <p style="font-size: 1.1rem">What are your favorite things to do together?</p>
  </div>

  <div class="mainContainer">
    <div class="ui labeled input activity">
      <div class="ui label labelText">
        Exercise
      </div>
      <select multiple class="ui dropdown flushBorder">
        <option value=''>Select all that apply</option>
        <% FormFieldData::EXERCISE.each do |activity| %>
          <option value="<%= activity %>"><%= activity %></option>
        <% end %>
      </select>
    </div>
    <br />

    <div class="ui labeled input activity">
      <div class="ui label labelText">
        Hang Out
      </div>
      <select multiple class="ui dropdown flushBorder">
        <option value=''>Select all that apply</option>
        <% FormFieldData::HANGOUT.each do |activity| %>
          <option value="<%= activity %>"><%= activity %></option>
        <% end %>
      </select>
    </div>
    <br />

    <div class="ui labeled input activity">
      <div class="ui label labelText">
        On Campus
      </div>
      <select multiple class="ui dropdown flushBorder">
        <option value=''>Select all that apply</option>
        <% FormFieldData::ONCAMPUS.each do |activity| %>
          <option value="<%= activity %>"><%= activity %></option>
        <% end %>
      </select>
    </div>
    <br />
  </div>

  <div class="submitButton">
    <p style="color: grey">
      <i class="grey info circle icon"></i>
      Your friends can invite you to any activity, but, this lets them
      know what you <strong>really</strong> love to do!
    </p>
    <button class="positive ui button" style="width: 100%">Done</button>
  </div>
</div>

  
<div id ="interestCards">
  <div class="myInterests">
    <p>My Interests</p>
  </div>
  <div class="ui one column grid">
    <div class="column">
      <div class="ui raised segment">
        <a class="ui red ribbon label">Exercise</a>
        <ul>
          <a class="ui basic label">Running</a>
          <a class="ui basic label">Swimming</a>
          <a class="ui basic label">Hiking</a>   
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a class="ui teal left ribbon label">Hangout</a>
        <ul>
          <a class="ui basic label">Eating</a>
          <a class="ui basic label">Studying</a>
          <a class="ui basic label">Movies</a>    
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a class="ui blue left ribbon label">Campus Events</a>
        <ul>
          <a class="ui basic label">Therapets</a> 
          <a class="ui basic label">Fitness-X</a> 
          <a class="ui basic label">TedxCMU</a>      
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('select.dropdown').dropdown();
  $('.selection.dropdown').attr('style', 'width: 16rem');
</script>